.form-group {
  margin-top: 20px;
}

.add_new_btn {
  border: 2px solid white;
  color: white;
  background: linear-gradient(to right, #49acb1 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.btn:hover{
  background-color: #49acb1;
  color: white;
  transition: 0.4s ease-in;
  background-position: left bottom;
}
