// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "cocktails";


body {
  //position: relative;
  //height: 700px;
  //background: linear-gradient(180deg, #BE576A 7.28%, #68272C 41.46%, #120002 90.19%);
  background: linear-gradient(rgba(190, 87, 106, 0.5), #cb2a2a);
}

h1 {
  font-family: 'Thasadith', ;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 62px;
  letter-spacing: 0.35em;
}

a:link {
  font-family: 'Comfortaa', ;
  font-style: normal;
  font-weight: normal;
  color: white;
}

h4, .require {
  font-family: 'Comfortaa', ;
  font-style: normal;
  font-weight: normal;
}

.row-cols-1 {
  margin: 0px;
}
